.gallery
{
  position: relative;
  column-count: 4;
  padding: 20px;
  margin-left: 10em;
}
.galimg
{
  margin-top: 5em;
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}
img
{
  width: 85%;
  transition: 0.25s ease-in-out;
}
.galimg:hover img
{
  transform: scale(1.1);
}
h1
{
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    background: #5c5c5c;
    color:#fff;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 0.25s ease-in-out;
}
.galimg:hover h1
{
    opacity: 0.5;
}
.popup
{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    display: none;
}
.contentBox
{
    position: relative;
    width: 650px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display:flex;
    box-shadow: 0 5px 25px rgb(0 0 0 / 25%);
    transition: .5s ease;
}
.contentBox .imgBox
{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox .imgBox::before
{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #000;
    border-radius: 5px;
}
.contentBox .imgBox img
{
    position: relative;
    max-width: 250px;
    z-index: 1;
}
.contentBox .content
{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox .content h3
{
    color: #333;
    line-height: 1em;
    font-weight: 300;
    font-size: 2em;
    padding: 10px 20px;
}
.contentBox .content p
{
    font-weight: 200;
    padding: 10px 20px;
}
.contentBox .content a
{
    display: inline-block;
    padding: 10px 20px;
    background: #5a90ce9f;
    color:#fff;
    margin-top: 15px;
    margin-left: 95px;
    text-decoration: none;
    border-radius: 10px;
}
.close
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url(images/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}
@media screen and (max-width:1024px){
    h1{
        font-size:20px;
    }
}
@media screen and (max-width:768px){
    .gallery{
        column-count: 3;
    }
}
@media screen and (max-width:425px){
    .gallery{
        column-count: 2;
    }
    h1{
        font-size:12px;
    }
}
@media screen and (max-width:425px){
    .gallery{
        column-count: 1;
    }
    h1{
        font-size:15px;
    }
}